<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/resources :: head}"></div>
</head>

<body>
    <header th:fragment="header">
        <nav class="px-5 py-3">
            <div class="d-flex justify-content-between">
                <h3>Movie Theater</h3>
                <div class="d-flex justify-content-center">
                    <p class="pt-2" th:text="${username}" />
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="btn btn-link">Sign Out</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
</body>

</html>